#page-header {
  margin: auto;
  width: 80%;
  border: dotted green 5px;
}

/* inside the header, center everything */
#page-header > *{  
  margin: auto;
  display: block;
  text-align: center;
}

#page-header > img {
  height: 100px;
}
