#page-header {
  margin: auto;
  width: 80%;
  border: dotted green 5px;
  padding: 10px;
}

/* inside the header, center everything */
#page-header > *{  
  margin: auto;
  display: block;
  text-align: center;
}

#page-header > img {
  height: 300px;
}

#content{
  width: 70%;
}
